<section class="new_comment_container">
  <div>
    <%= form_with model: @comment, url: user_post_comments_path, local: true do |form| %>
      <%= form.text_field :text, class: "comment_field", placeholder: "Add your comment" %>
      <%= form.submit "Add comment", class: "submit_btn" %>
    <% end %>
  </div>
</section>
