.new_comment_container {
  margin: 4rem auto;
  background: white;
  padding: 2rem;
  box-shadow: 1px 1px 9px lightgray;
  width: 65vw;
}

.new_comment_container > div {
  width: 85%;
  margin: 0 auto;
}

.new_comment_container form {
  gap: 2rem;
}

.comment_field {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--golden-rod);
  border-radius: 6px;
  outline: none;
}

.submit_btn {
  background: var(--golden-rod);
  border: navajowhite;
  color: var(--alice-blue);
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  border-radius: 6px;
  align-self: flex-end;
}