.new_comment_container,
.edit_comment_container {
  margin: 4rem auto;
  background: white;
  padding: 2rem;
  box-shadow: 1px 1px 9px lightgray;
  width: 65vw;
}

.new_comment_container > div,
.edit_comment_container > div {
  width: 85%;
  margin: 0 auto;
}
