

.container {
  gap: 0.5rem;
  width: 50vw;
  margin: auto;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container form,
.container form {
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.container > div ,
.container > div {
  width: 54%;
  margin: 0 auto;
}

.login_text a,
.signup_text a {
  color: var(--azure);
  text-decoration: underline;
}

.container input::placeholder,
.container input::placeholder {
  letter-spacing: 1px;
}

.container input,
.container input {
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: 1px solid lightgray;
}

.container input:focus,
.container input:focus {
  border: 1px solid var(--lapis-lazuli);
}

.login_btn,
.signup_btn,
.reset_btn {
  background: var(--lapis-lazuli);
  color: var(--alice-blue);
  border: none;
  margin: 2em 0;
}

.login_btn:hover,
.signup_btn:hover,
.reset_btn:hover {
  cursor: pointer;
  box-shadow: 5px 6px 28px rgb(31 110 140 / 10%), 2px 5px 10px rgb(31 110 140 / 25%);
}


.container .new_user div,
.container .new_user div  {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container h2,
.container h2 {
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.supporting_text {
  padding-bottom: 1.75rem;
}

.new_user {
  gap: 1em;
}

form > .actions {
  align-self: center;
}

.sign_up_container label {
  display: none;;
}

