.post_details_container {
  gap: 0.5rem;
  display: flex;
  margin: 1.4em 0;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid lightgray;
  background: var(--timber-wolf);
  padding: 1rem;
}


.create_post {
  background: var(--mantis);
  padding: 0.5rem 1rem;
  align-self: flex-end;
}

.create_post:hover {
  box-shadow: 5px 6px 28px rgb(130 204 107 / 10%), 2px 5px 10px rgb(130 204 107 / 25%);
}

/* .all_posts_container {
  padding: 4em 6em;
} */

.post_num {
  font-style: italic;
  color: #c5bfbf;
  font-size: 0.7rem;
}

.post_title {
  color: #1976c3;
  padding-bottom: 0.75rem;
}

.post_text {
  border-bottom: 1px solid #dbd5d58f;
  padding-bottom: 1rem;
}

.post_stats {
  gap: 0.5rem;
  display: flex;
  align-self: flex-end;
  width: 250px;
  /* align-items: center; */
  /* padding: 0.2rem 0; */
  /* gap: 3rem; */
}

.post_stats .post_partial {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.post_stats .post_partial > * {
  /* padding: 0.3rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0; */
}

.like_num,
.comment_num {
  padding: 0.3rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0;
  flex: 1
}

/* .view_post {
  padding: 0.3rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--azure);
  background: var(--azure);
  color: var(--alice-blue);
} */

.all_posts_container > .post_details_container {
  margin-bottom: 0.2em;
}

.back_btn {
  background: var(--golden-rod);
  padding: 0.5rem 1rem;
}

.back_btn:hover {
  box-shadow: 5px 6px 28px rgb(255 133 81 / 10%), 2px 5px 10px rgb(255 133 81 / 25%);
}

.view_all {
  background: var(--golden-rod);
  padding: 0.5rem 1rem;
}


.recent_comments_container {
  gap: 0.4em;
  display: flex;
  padding: 1em;
  border: 3px solid;
  flex-direction: column;
}

.comment_details_container {
  gap: 1em;
  display: flex;
}

.active {
  color: red;
}

.full_post_container {
  padding: 4em 6em;
}

.full_comments_container {
  gap: 0.4em;
  padding: 1em;
  display: flex;
  border: 3px solid;
  flex-direction: column;
}

.full_post_container > .post_details_container {
  margin-bottom: 0.2em;
  gap: 0;
}

.full_post_container .post_text {
  /* order: 1; */
  display: flex;
  margin-top: 1em;
}

.new_post_container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

form {
  gap: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_title,
.form_text {
  padding: 1em;
  width: 60vw;
  border: 3px solid;
}

.form_title {
  height: 10vh;
}

.form_text {
  height: 50vh;
}

.form_title::placeholder,
.form_text::placeholder {
  padding: 1em;
}

.like_btn {
  align-self: flex-end;
}
