.all_users_container,
.single_users_container {
  margin: 4rem auto;
  background: white;
  padding: 2rem;
  box-shadow: 1px 1px 9px lightgray;
}

.all_users_container {
  width: 60vw;
}


.all_users_container > div {
  display: grid;
  gap: 2em;
  margin: auto;
}

.user_details_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: auto;
  gap: 3rem;
}

.user_img {
  text-align: center;
  display: flex;
  height: 100%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  /* flex: 0.5; */
  justify-content: center;
}

.user_img img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.user_highlight {
  width: 100%;
  height: 100%;
  display: flex;
  /* padding: 1rem; */
  align-items: center;
  /* gap: 2rem; */
  flex: 1;
}

.user_highlight > div {
  flex: 3;
}

.user_highlight h2 a {
  font-size: inherit;
  text-transform: capitalize;
  color: var(--lapis-lazuli);
}

.view_user {
  background: var(--lapis-lazuli);
  padding: 0.5rem 2rem;
  border-radius: 6px;
  color: var(--alice-blue);
}



/* .btn {
  display: flex;
  border: 3px solid;
  padding: 1em 2.5em;
  box-shadow: 3px 3px;
  align-items: center;
  justify-content: center;
} */

.btn a {
  font-size: 1.2em;
  font-weight: 700;
}

.btn_container {
  display: flex;
  gap: 0.5rem;
  /* justify-content: flex-s; */
}
